<ul>
    {{#randoms}}
        <li class="{{^positive}}red{{/positive}}">{{number}}</li>
    {{/randoms}}
</ul>
<button type="button" class="big-button" data-random-control>
    Generate more randoms!
</button>